.gradientOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      transparent 10%,
      transparent 70%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,
      transparent 10%,
      transparent 70%,
      rgba(0, 0, 0, 0.7) 100%
    );
}
